{%- comment -%}
  Renders _data/steering.yml.
{%- endcomment -%}
<ul class="people">
  {%- for person in site.data.steering %}
  <li class="person">
    {%- if person.photo %}
    <img class="person__photo" src="{{ person.photo | relative_url }}" alt="{{ person.name }}" loading="lazy">
    {%- endif %}
    <span>
      <span class="person__name">
        {%- if person.url -%}
        <a href="{{ person.url }}">{{ person.name }}</a>
        {%- else -%}
        {{ person.name }}
        {%- endif -%}
      </span>
      <span class="person__affiliation">{{ person.affiliation }}</span>
    </span>
  </li>
  {%- endfor %}
</ul>
